@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

body {
  border-radius: 10px;
}

.button {
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}

.row input {
  margin: 0;
  padding: 10px 2px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.row button {

  font-weight: 600;
  font-size: medium;

}